BROKER_HOST = ""
BROKER_PORT = 5672
BROKER_USER = ""
BROKER_PASSWORD = ""
BROKER_VHOST = ""
CELERY_RESULT_BACKEND = "amqp"

APP_UPDATERS = {
    'app': {
        'ref': 'refs/heads/master', # optional: only update if equal to payload['ref']
        'script': '/data/bin/test.sh', # required
        'outfile': '/tmp/app.log', # optional: (where to dump stdout/err)
    },
}

REDIS_BACKENDS = {
    'master': 'redis://localhost:6379',
}
